%head
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
#login-page
  %p#notice= notice
  %h1 Posts
  %table
    %thead
      %tr
        %th Name
        %th Content
        %th User
        %th{:colspan => "3"}
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.name
          %td= post.content
          %td= post.user_id
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  %p#link
= link_to 'New Post', new_post_path
